<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="M3_ADMIN-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/"/>
        <property name="java-output-path" value="/M3-ADMIN-PANEL/target/classes"/>
        <property name="context-root" value="M3_ADMIN"/>
    </wb-module>
</project-modules>
